{# ------------------------------------------ HOME PAGE ------------------------------------------ #}


{% block title %}
    <title>Página de testes</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block styles %}
    {{ html_style('assets/stylesheets/frontend.css') }}
{% endblock %}

{% block content %}
    <section class="teste-home">
        <div class="header">
            <div class="header-hover">

            </div>
            <img src="img/naruto-150.png">
        </div>
    </section>
{% endblock %}
{# ------------------------------------------ /HOME PAGE ------------------------------------------ #}