<div class="col-xs-3">
	<div class="block">
		<p><b><i class="fa fa-star"></i> Temas do momento</b></p>
		<br>
		<p>1. <a href="#">#BreakingBad</a></p>
		<p>2. <a href="#">#Oscares2014</a></p>
		<p>3. <a href="#">#FamilyGuy</a></p>
		<p>4. <a href="#">#GameOfThrones</a></p>
		<p>5. <a href="#">#LiveTuga</a></p>
	</div>
</div>